{{ define "main" }}
<article class="markdown book-article">
  <div class="home-header">
    <h1><a href="{{ .Site.BaseURL }}" class="site-title">{{ .Site.Title }}</a></h1>
    <p>전체 글 <em>{{ len (where .Site.RegularPages "Section" "post") }}</em></p>
  </div>

  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "post") 10 }}

  <div class="post-list">
    {{ range $paginator.Pages }}
      {{ partial "docs/post-item.html" . }}
    {{ end }}
  </div>

  {{ partial "docs/pagination.html" $paginator }}
</article>
{{ end }}
